html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.4em;
    line-height: 44px;
    color: #f7f9f8;
    background-color: #047495;
    max-width: 560px;
    margin: 0 auto;
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
}

.margin-top {
    margin-top: 40px;
}

.credittext {
    text-align: left;
    font-size: 0.8em;
    color: #fff;
    line-height: 1.4em;
}

.maincontainer {
    background-image: url(../img/back-top.jpg);
    background-position: center top;
    background-size: 100%;
    padding: 40px 15px 280px 15px;
    background-repeat: no-repeat;
}

.maincontainerapropos {
    background-image: url(../img/back-top.jpg);
    background-position: center top;
    background-size: 100%;
    padding: 40px 15px 40px 15px;
    background-repeat: no-repeat;
}

.maincontainermid {
    background-image: url(../img/back-mid.png);
    background-position: center top;
    background-size: 100%;
    margin-top: -400px;
    padding: 410px 0px 40px 0px;
    background-repeat: no-repeat;
}

.maincontainerbottom {
    background-image: url(../img/back-bottom.jpg);
    background-position: center 40px;
    background-size: 100%;
    padding: 94px 15px 40px 15px;
    background-repeat: no-repeat;
}


.logo {
    padding: 100px 0px 60px 0px;
    width: 100%;
    max-width: 341px;
}

.photojulien {
    margin-top: -20px;
    margin-bottom: -40px;
    width: 100%;
    max-width: 454px;
}

.introtext {
    padding: 0px 15px 30px 15px;
}

.contenttext {
    padding: 0px 15px 30px 15px;
    font-size: 0.75em;
    line-height: 1.8em;
}

.h-auto {
    height: auto!important;
}

h4 {
    font-family: 'Dosis', sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    position: relative;
    max-width: 200px;
    margin: 0 auto 60px auto;
}

h4:before {
    content: url(../img/wave-btn.png);
    position: absolute;
    right: -8px;
    top: 31px;
}


h3 {
    font-family: 'Dosis', sans-serif;
    font-size:1.4em;
    margin-bottom: 0px;
    font-weight:100;
}

h2 {
    font-family: 'Dosis', sans-serif;
    font-size:2em;
    font-weight:400;
}

h5 {
    font-family: 'Dosis', sans-serif;
    color: #05fffc;
    text-align: left;
    font-size: 1.2em;
    font-weight:400;
    margin-top: 20px;
}

.carousel {
    padding: 50px 0 80px 0;
}

.teamcarou {
    padding: 0 0 80px 0;
    margin-top:-20px ;
}

.carou {
    padding-bottom:50px;
}

.form-control {
    border: 0px;
    border-radius: 0;
}

.form-group {
    padding: 40px;
}



.btn-primary {
    background-image: -moz-linear-gradient( 90deg, rgb(162,225,248) 0%, rgb(230,241,245) 48%);
    background-image: -webkit-linear-gradient( 90deg, rgb(162,225,248) 0%, rgb(230,241,245) 48%);
    background-image: -ms-linear-gradient( 90deg, rgb(162,225,248) 0%, rgb(230,241,245) 48%);
    box-shadow: 0px 15px 87px 0px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    color: #047495;
    padding: 14px 26px;
    font-family: 'Dosis', sans-serif;
    font-size:20px;
    border: none;
    cursor: pointer;
    position:relative;
}

.btn-primary a {
    color: #047495;
}

.btn-primary a:hover {
    color: #047495;
    text-decoration: none;
}

.btnbottom {
    font-size:16px;
}

.btnbottom a {
    color:#047495;
}

.btnbottom:hover {
    color:#047495;
    text-decoration: none;
}

.maincontainerbottom .btnbottom::before, .maincontainerbottom .btnbottom::after {
    content:none;
}

.carousel-indicators .active {
    background-color: #68fffd;
}

.carousel-indicators li {
    max-width: 16px;
    height: 16px;
    border-radius: 10px;
    margin-right: 12px;
    margin-left: 12px;
    border: solid 2px #68fffd;
    background-color: transparent;
}

.form-control {
    padding: 40px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 100;
    line-height: 48px;
    color: #047495!important;
    background-color: #e6f1f5;
}

.copy {
    color:#05fffc;
    font-size:16px;
    padding: 20px;
    line-height: 20px;
}

.logobottom {
    padding-top: 140px;
    width: 100%;
    max-width: 286px;
}

.btn-primary::before {
    content: url(../img/wave-btn.png);
    position: absolute;
    left: -58px;
    top: -13px;
}

.btn-primary::after {
    content: url(../img/wave-btn2.png);
    position: absolute;
    right: -58px;
    bottom: -16px;
}